body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14pt;
    background-color: rgb(241, 223, 198);
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav a {
    display: block;
    background-color: rgb(194, 141, 91);
    color: white;
    text-decoration: none;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

nav a:hover {
    display: block;
    background-color: white;
    color: rgb(194, 141, 91);
    text-decoration: underline;
    padding: 5px;
    font-weight: 500;
    border-radius: 5px;
}

.content {
    border: thick black solid;
    padding: 10px;
    background-color: tan;
    border-radius: 5px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


#bottom {
    background-color: rgb(180, 164, 140);
}