body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(204, 183, 151);
}

header {
    text-align: center;
    background-image: url(design.jpg);
    background-color: rgba(234, 214, 180, 0.6);
    background-blend-mode: overlay;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 138, 104);
    font-weight: bold;
    margin: 10px 0;
}

nav a {
    display: block;
    background-color: rgb(160, 138, 104);
    color: black;
    padding: 3px;
    text-decoration: none;
    border-radius: 3px;
}

nav a:hover {
    background-color: rgb(77, 49, 12);
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

.current {
    color: white;
    background-color: rgb(77, 49, 12);
}

.mainrow {
    display: flex;
}

.sidebar {
    width: 25%;
    margin: 0px 20px 0px 0px;
}

content {
    width: 70%;
}

.stats {
    caption-side: bottom;
    border-spacing: 0;
    border: thin solid black;
}

.stats thead tr {
    background-color: bisque;
    border: thin solid black;
    padding: 5px;
}

.stats tbody td{
    border: thin solid black;
}

fieldset {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(160, 138, 104);
    border-color: black;
    box-shadow: 3px 3px 4px rgba(70, 46, 46, 0.8);
}

legend {
    font-weight: bold;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(77, 49, 12);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.align {
    display: flex;
    gap: 10px;
    margin: 12px;
}

.align label {
    width: 37%;
    text-align: right;
    font-weight: bold;
}

.alsoalign {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.align input[type='submit'] {
    margin: auto;
    padding: 8px;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(70, 46, 46, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(234, 214, 180, 0.6);
    border-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}