body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    background-color: rgb(204, 183, 151);
}

header {
    text-align: center;
    background-image: url(design.jpg);
    background-color: rgba(234, 214, 180, 0.6);
    background-blend-mode: overlay;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    margin-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(160, 138, 104);
    font-weight: bold;
    margin: 10px 0;
    width: 100%;
    font-size: 15px;
    margin-bottom: 0;
}

nav a {
    display: block;
    background-color: rgb(160, 138, 104);
    color: black;
    padding: 3px 0;
    text-decoration: none;
    border-radius: 3px;;
}


nav a:hover {
    background-color: rgb(77, 49, 12);
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

.current {
    color: white;
    background-color: rgb(77, 49, 12);
}

.mainrow {
    display: flex;
}

.mainrowtwo {
    display: flex;
}

.sidebar {
    width: 35%;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    border-right: thin solid black;
    padding: 0;
    margin-right: 0;
}

.sidebar h2 {
    display: block;
    text-align: center;
    background-color: rgb(77, 49, 12);
    color: white;
    margin-top: 0;
    padding: 10px;margin-right: 0;
}

.sidebartwo {
    width: 30%;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    border-right: thin solid black;
    padding: 0;

}

.sidebartwo h2 {
    display: block;
    text-align: center;
    background-color: rgb(77, 49, 12);
    color: white;
    margin-top: 0;
    padding: 10px;
}

.content {
    display: block;
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.stats {
    caption-side: bottom;
    border-spacing: 0;
    border: thin solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(53, 48, 48, 0.8);
    width: 100%;
}

.stats thead th{
    background-color: rgb(114, 81, 39);
    color: white;
    border: thin solid black;
    padding: 10px 5px;
}
    

.stats tbody tr {
    border: thin solid black
}

.stats tbody td{
    border: thin solid black;
    font-size: 11px;
    padding: 10px 5px;
}

fieldset {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: rgb(160, 138, 104);
    border-color: black;
    box-shadow: 3px 3px 4px rgba(70, 46, 46, 0.8);
}

legend {
    font-weight: bold;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(77, 49, 12);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.space {
    margin-top: 10px;
    }

.align {
    display: flex;
    gap: 10px;
    margin: 12px;
}


.align label {
    width: 37%;
    text-align: right;
    font-weight: bold;
}

.alsoalign {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.align input[type='submit'] {
    margin: auto;
    padding: 8px;
    font-weight: bold;
    font-size: medium;
    background-color: rgba(70, 46, 46, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(234, 214, 180, 0.6);
    border-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

caption {
    font-weight: bold;
}

.center {
    text-align: center;
    margin-top: 0;
}

.heading {
    display: block;
        background-color: rgb(114, 81, 39);
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
        width: 100%;
        margin-right: 0;
        margin-top: 0;
        margin-left: 0;
    }

.dos
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 0;
}

.tres
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.card img {
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
    margin-left: 0;
}

.cardthree img {
    display: block;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
}

.card h2 {
    display: block;
    text-align: center;
    background-color: rgb(114, 81, 39);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.cardthree h2 {
    display: block;
    text-align: center;
    background-color: rgb(114, 81, 39);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.jobtitle {
    display: block;
    text-align: center;
    background-color: rgb(62, 49, 32);
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}

.card {
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 0;
    box-shadow: 2px 2px 4px rgba(35, 34, 34, 0.8);
}

.cardthree {
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(35, 34, 34, 0.8);
}


.cardtwo {
    border: 3px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(35, 34, 34, 0.8);
    width: 30%;
    margin: auto;
    font-size: 13px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.jobtitle {
    text-align: center;
}

li a {
    color: rgb(77, 49, 12);
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    padding: 30px 0;
    background-color: rgb(77, 49, 12);
    color: white;
    margin-top: 10px;
    width: 100%;
}

iframe {
    margin-top: 15px;
}

.home img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(58, 41, 41, 0.8);
}

.hometwo img {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(58, 41, 41, 0.8);
    width: 100%;
}


@media ONLY screen AND (max-width: 480px) {
    body {
        width: 100%;
        margin: 0;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
        font-size: 23px;
        margin-bottom: 0;
    }
    
    .home img {
    width: 80%;

    }

    .space {
    margin-top: 10px;
    }

    .align, .alsoalign {
        flex-direction: column;
    }

    .mainrow {
        flex-direction: column-reverse;
        text-align: center;
    }

     .mainrowtwo {
        flex-direction: column-reverse;
        text-align: center;
    }

    .sidebar {
        width: 100%;
        font-size: large;
    }

     .sidebartwo {
        width: 100%;
        font-size: large;
    }

    .content {
        width: 100%;
        font-size: large;
    }

    .stats {
        font-size: small;
        width: 100%;
    }

    fieldset {
        width: 90%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .align input, .alsoalign input {
        font-size: larger;
    }

    .align label, .alsoalign label {
        text-align: center;
        width: auto;
        font-size: large;
    }

    .align input[type='submit'] {
        padding: 10px;
        font-size: x-large;
    }

    legend {
        font-size: 25px;
        padding: 5px;
    }

    .image {
        width: 100%;
    }

    .dos {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8)
    }

    .tres {
        flex-direction: column;
    }

    .card img {
        width: 80%;
        border: thick solid black;
        box-shadow: 3px 3px 4px rgba(33, 31, 31, 0.8);
        border-radius: 5px;
    }

    .card {
        border: none;
        box-shadow: none;
        margin-bottom: 10px;
    }

    .card img {
        display: block;
        margin: auto;
        border: none;
        box-shadow: none;
        width: 85%;
    }

    .card h2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding: 10px 0;
        margin-top: 0;
    }   

    .heading {
        background-color: rgb(114, 81, 39);
        margin-bottom: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }


}