body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#koalafam {
    width: 300px;
    margin: 20px 20px;
    border: thin solid black;
    box-shadow: 3px 3px 2px rgba(32, 31, 31, 0.8);
    transform: rotate(8deg);
    
}

#koalafam img{
    width: 250px;
}

.btn {
    display: block;
    background-color: rgb(61, 59, 59);
    color: rgb(250, 247, 247);
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
    transition: background-color 1s ease-in-out;
    transition-delay: 1s;
}

.btn:hover {
    background-color: grey;
}