            main p {
                    color: blue;
                    font-size: 14pt;
                }           
            header h1 {
                color:rgb(127, 178, 255)
            }
            main h1 {
                color:rgba(14, 85, 216, 0.61)
            }
            h3 {
                color:rgba(93, 47, 136, 0.753)
            }