body {
    background-color: #abb3ff;
}
body {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    color: #0A2239;
}
body {
    font-size: 13pt;
}
.temple {
    color: #756150;
}
.link {
    color: #573f2c;
    font-style: italic;
}
#interest {
    font-size: 24pt;
    color: #69401f;
}